noderedcode.json
[{"id":"168f52a2.3878bd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"734ae86.a7a8b18","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9519ccf5.2f19a","type":"mqtt in","z":"168f52a2.3878bd","name":"","topic":"binderStatus","qos":"2","datatype":"auto","broker":"734ae86.a7a8b18","x":240,"y":220,"wires":[["d9e26d38.ece21","c755372b.eab1b8"]]},{"id":"d9e26d38.ece21","type":"debug","z":"168f52a2.3878bd","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":180,"wires":[]},{"id":"c755372b.eab1b8","type":"file","z":"168f52a2.3878bd","name":"writeStatus","filename":"/home/pi/iotBinder/bStatus.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":430,"y":280,"wires":[[]]},{"id":"fcfc1fa.2277be","type":"watch","z":"168f52a2.3878bd","name":"checkPiMotion","files":"/home/pi/iotBinder/piMotion.txt","recursive":"","x":220,"y":360,"wires":[["e71f3ce6.fd64e"]]},{"id":"f8da370b.819ee8","type":"mqtt out","z":"168f52a2.3878bd","name":"","topic":"piMotion","qos":"2","retain":"","broker":"734ae86.a7a8b18","x":700,"y":380,"wires":[]},{"id":"e71f3ce6.fd64e","type":"file in","z":"168f52a2.3878bd","name":"readPiMotion","filename":"/home/pi/iotBinder/piMotion.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":380,"wires":[["f8da370b.819ee8"]]}]
