noderedcode.json
[{"id":"8b3dd487.6135d8","type":"tab","label":"iotBinders","disabled":false,"info":""},{"id":"80ce1d3.7ea64e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"938c5fe4.519a9","type":"mqtt in","z":"8b3dd487.6135d8","name":"","topic":"binderMotion","qos":"2","datatype":"auto","broker":"80ce1d3.7ea64e","x":150,"y":300,"wires":[["42f947b3.b06f78","3b6381d4.f27ece"]]},{"id":"42f947b3.b06f78","type":"debug","z":"8b3dd487.6135d8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":360,"wires":[]},{"id":"3b6381d4.f27ece","type":"file","z":"8b3dd487.6135d8","name":"writeMotion","filename":"/home/pi/iotBinder/biMotion.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":410,"y":300,"wires":[[]]},{"id":"3d196689.ca1eea","type":"watch","z":"8b3dd487.6135d8","name":"checkPiMotion","files":"/home/pi/iotBinder/piMotion.txt","recursive":"","x":160,"y":460,"wires":[["ed25412.a24d7c"]]},{"id":"3b13be7b.97a062","type":"mqtt out","z":"8b3dd487.6135d8","name":"alertBindersOfMovement","topic":"piMotion","qos":"2","retain":"","broker":"80ce1d3.7ea64e","x":650,"y":460,"wires":[]},{"id":"ed25412.a24d7c","type":"file in","z":"8b3dd487.6135d8","name":"readPiMotion","filename":"/home/pi/iotBinder/piMotion.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":460,"wires":[["3b13be7b.97a062"]]},{"id":"aa39eb96.bc07b8","type":"mqtt in","z":"8b3dd487.6135d8","name":"","topic":"binderOrientation","qos":"2","datatype":"auto","broker":"80ce1d3.7ea64e","x":160,"y":180,"wires":[["37a5cadf.7c5a06","8070df69.c3ee6"]]},{"id":"49492cd3.67c344","type":"mqtt in","z":"8b3dd487.6135d8","name":"","topic":"binderLigthting","qos":"2","datatype":"auto","broker":"80ce1d3.7ea64e","x":160,"y":80,"wires":[["8565eb76.3b0ca8","bf1e98a4.a808a8"]]},{"id":"8565eb76.3b0ca8","type":"file","z":"8b3dd487.6135d8","name":"writeLighting","filename":"/home/pi/iotBinder/biLighting.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":80,"wires":[[]]},{"id":"37a5cadf.7c5a06","type":"file","z":"8b3dd487.6135d8","name":"writeOrientation","filename":"/home/pi/iotBinder/biOrientation.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":180,"wires":[[]]},{"id":"bf1e98a4.a808a8","type":"debug","z":"8b3dd487.6135d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]},{"id":"8070df69.c3ee6","type":"debug","z":"8b3dd487.6135d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":240,"wires":[]}]
